/* Course Outcome 1: Introductory CSS Styling (CSS syntax, Typography essentials, Color representations) */
body{
font-family:Arial;
background:#0f0f0f;
color:white;
text-align:center;
}

input{
/* Course Outcome 1: Introductory CSS Styling (Foundational spacing: padding, margin) */
padding:10px;
margin:10px;
width:300px;
}

button{
padding:10px 20px;
background:#e74c3c;
border:none;
color:white;
cursor:pointer;
}

.logout{
/* Course Outcome 2: Comprehensive CSS Layouts (Block layout/Absolute positioning) */
position:absolute;
right:20px;
top:20px;
}

.habit{
background:#1e1e1e;
margin:20px;
padding:20px;
border-radius:10px;
position:relative;
}

.days{
/* Course Outcome 2: Comprehensive CSS Layouts & Styling (Flexbox) */
display:flex;
flex-wrap:wrap;
justify-content:center;
margin-top:10px;
}

.day{
margin:3px;
}

.delete{
/* Course Outcome 2: Comprehensive CSS Layouts (Block layout/Absolute positioning) */
position:absolute;
top:10px;
right:10px;
background:#ff4444;
padding:5px 10px;
border-radius:5px;
}